<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<header class="header" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <a th:href="@{/admin}" class="navbar-brand">
                    <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary"> التحكم في حجز
                        القداسات</strong>
                    </div>
                    <div class="brand-text brand-sm"><strong class="text-primary">T2</strong><strong>A</strong></div>
                </a>
                <button class="sidebar-toggle"><i class="fas fa-bars"></i></i></button>
            </div>
            <ul>
                <li class="list-inline-item logout"><a id="logout" th:href="@{/logout}" class="nav-link">تسجيل الخروج <i
                        class="icon-logout"></i></a></li>
            </ul>
        </div>
    </nav>
</header>

<nav id="sidebar" th:fragment="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="title">
            <h1 class="h5" th:text="${#authentication.getPrincipal().getUsername()}">Amaresh Waran</h1>
        </div>
    </div>
    <ul class="list-unstyled">
        <li th:classappend="${content == 1}?active"><a th:href="@{/admin}"> <i class="fas fa-home"></i>الرئيسية </a>
        </li>
        <li th:classappend="${content == 2}?active"><a th:href="@{/admin/masses}"> <i class="fas fa-praying-hands"></i>القداسات</a>
        </li>
        <li th:classappend="${content == 3}?active"><a th:href="@{/admin/massReservations}"><i
                class="far fa-address-book"></i>الحجوزات</a>
        </li>
        <li th:classappend="${content == 4}?active"><a th:href="@{/admin/users}"> <i class="fas fa-user"></i>المستخدمين</a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <i class="fas fa-church fa-4x" style="color:#1EBBA3"></i>
            <br/>
            <br/>
            <h5>كنيسة السيدة العذراء والشهيد مارجرجس بغبريال</h5>
            <br/>
            <h5>للحجز الكنسي برجاء الذهاب الي الاستعلامات</h5>
            <h6>المواعيد يوميا ما عدا يوم الاثنين</h6>
            <h6>صباحا من 10-2 </h6>
            <h6>مساءا من 6-10</h6>
            <a href="https://www.facebook.com/maryalx8/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.youtube.com/channel/UCzzcQsfjMdpQuHCZXiZH2pA" target="_blank"><i
                    class="fab fa-youtube-square"></i></a>
        </div>
    </div>
</footer>


</body>
</html>