<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <i class="fas fa-church fa-4x" style="color:#1EBBA3"></i>
            <br/>
            <br/>
            <h5>كنيسة السيدة العذراء والشهيد مارجرجس بغبريال</h5>
            <br/>
            <h5>للحجز الكنسي برجاء الذهاب الي الاستعلامات</h5>
            <h6>المواعيد يوميا ما عدا يوم الاثنين</h6>
            <h6>صباحا من 10-2 </h6>
            <h6>مساءا من 6-10</h6>
            <a href="https://www.facebook.com/maryalx8/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.youtube.com/channel/UCzzcQsfjMdpQuHCZXiZH2pA" target="_blank"><i
                    class="fab fa-youtube-square"></i></a>
        </div>
    </div>
</footer>

</body>
</html>